@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    margin:auto;
    min-width:600px;
    max-width:2000px;
}

/* Styling for the header navigation bar */

header {
    background: #333;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15%;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

#navigation {
    margin-right: auto;
    color: whitesmoke;
    display: flex;
    align-items: center;
}

#navigation ul {
    display: flex;
    margin: 0 60px;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

#navigation ul li {
    margin: 0 20px;
}

#navigation h1 {
    margin-right: 20px;
}

#navigation a {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.4s ease 0s;
}

#navigation a:hover {
    color: rgb(32, 144, 179);
    font-size: 1.3rem;
}

/* Styling for the button for signing out */

header button {
    width: 150px;
    height: 40px;
    border-radius: 40px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1.05rem;
    border: 0;
    background-color: rgb(32, 144, 179);
    color: #333;
    transition: all 1s ease 0s;
    cursor: pointer;
}

header button a {
    text-decoration: none;
    color: #333;
}

header button:hover, header button a:hover {
    background-color: rgb(4, 238, 255);
}

/* Styling for the main content of the webpage */

main {
    margin-top: 50px;
    padding: 0 15%;
    display: flex;
    justify-content: flex-start;
}

main h1 {
    color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

#col1 {
    margin-right: 12.5px;
    flex: 3;
}

#col2 {
    margin-left: 12.5px;
    flex: 2;
}

#user-card {
    height: 500px;
}

#top-box {
    background-color: rgb(32, 144, 179);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;
}

#bottom-box {
    background-color: whitesmoke;
    height: 70%;
    border: 3px solid #808080;
    border-top: 0;
    font-family: 'New Tegomin', serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

#bottom-box h1 {
    color: #333;
    font-family: 'New Tegomin', serif;
    margin: 0;
    font-weight: bold;
}

#location {
    margin-bottom: 10px;
}

#link {
    margin-top: 10px;
    text-decoration: none;
}

#link span {
    text-decoration: underline;
}

#user {
    position: absolute;
    top: 45%;
    left: 5%;
    border-radius: 100%;
    border: 5px solid whitesmoke;
    background-color: whitesmoke;
}

#education {
    height: 400px;
    margin-top: 50px;
}

#top-box2 {
    background-color: #333;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    flex-direction: flex-start;
    align-items: center;
}

#bottom-box2 {
    height: 50%;
    background-color: whitesmoke;
    border: 3px solid #808080;
    border-top: 0;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'New Tegomin', serif;
    font-weight: 400;
}

#bottom-box2 h1 {
    color: #333;
    font-family: 'New Tegomin', serif;
    margin: 0;
    font-weight: bold;
}

#bottom-box2 h2 {
    color: grey;
}

#requests {
    height: 250px;
}

#top-box3 {
    background-color: #333;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    flex-direction: flex-start;
    align-items: center;
}

#bottom-box3 {
    height: 50%;
    background-color: whitesmoke;
    border: 3px solid #808080;
    border-top: 0;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#bottom-box3 h1 {
    color: #333;
    font-family: 'New Tegomin', serif;
    font-weight: 400;
    margin: 0;
    font-weight: bold;
}

#connections {
    height: 600px;
    margin-top: 50px;
}

#top-box4 {
    background-color: #333;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#bottom-box4 {
    height: 50%;
    background-color: whitesmoke;
    border: 3px solid #808080;
    border-top: 0;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#bottom-box4 h1 {
    color: #333;
    font-family: 'New Tegomin', serif;
    font-weight: 400;
    margin: 0;
    font-weight: bold;
}

#bottom-boxb4 {
    height: 20%;
    background-color: whitesmoke;
    border: 3px solid #808080;
    font-family: 'New Tegomin', serif;
    font-weight: 400;
    border-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

#bottom-boxb4 h2 {
    text-decoration: underline;
}

#person {
    cursor: pointer;
}

#first1 {
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    margin-left: 10%;
    font-weight: bold;
    background-color: #808080;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

#first2 {
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    margin-left: 10%;
    font-weight: bold;
    background-color: #808080;
    border-radius: 50%;
    text-align: center;
    width: 70px;
    height: 50px;
    padding: 10px;
}
